/* Fireworks.css */
/* body {
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: black;
} */

.firework {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  animation: fireworks 10s linear 0s infinite;
  z-index: -2;
  overflow: hidden;
}

@keyframes fireworks {
  0% {
    opacity: 1;
    transform: translateY(1);
  }
  100% {
    opacity: 1;
    transform: translateY(-2000px);
  }
}
